:root {
  --bg: #F69000;
  --bg-accent: #F6C624;
  --secondary: #53B1B1;
  --secondary-accent: #1C5858;
  --text-color: #11222C;
  --text-second: #DADCE1;
  --nav-size: 60px;
  --border: 1px solid #474A4D;
  --border-radius: 8px;
  --speed: 500ms;
  position: relative;
  display: flex;
  
}

body {
  background-color: #F69000;
  position: relative;
  display: flex;
}

#card {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}

form {
  position: relative;
}

form h2 {
  color: #11222C;
}

:focus-within #login-email, :focus-within #login-pw, :focus-within #login-username {
  color: #11222C;
}

#btn {
  background-color: #1C5858;
  color: #DADCE1;
}

