/* whole app css */

.font-link {
  font-family: 'Permanent Marker';
}

body {
  
  font-family: 'Permanent Marker' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


html, #root {
  /* --bg: #F69000;
  --bg-accent: #F6C624;
  --secondary: #53B1B1;
  --secondary-accent: #1C5858;
  --text-color: #11222C;
  --text-second: #DADCE1;
  --nav-size: 60px;
  --border: 1px solid #474A4D;
  --border-radius: 8px;
  --speed: 500ms;  
  --background-color: #11222C; */
  min-height: 100%;
  /* background-color: lightgray; */
}  

main {
  /* background-color: #11222C; */
   position: relative; 
   /display: flex;    
   /* background-color: grey;  */

}  

.container {
  max-width: 100%;
}




/* Landing Page */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

#trumpet {
  height: 14vmin;
  pointer-events: none;
  animation-direction: reverse;
}

#bass{
  height: 36vmin;
}

#drums{
  animation-direction: reverse;
  height: 36vmin;
}

#keyboard{
  height: 30vmin; 
}

#guitar{
  height: 30vmin;
}

#trombone{
  animation-direction: reverse;
}

#title-div {
  text-align: center;
}

#app-title {
  font-size: 4rem;
}

/*landing page end***********************/


/*Sign Up and Login Pages****************************************/
/* Forms */
form {
  background-color: var(--secondary);
  /* justify-content: center;  */
  align-content: center;
  position: relative;
  display: flex; 
  flex-wrap: wrap;  
}  

/* .form-input {
  justify-content: center;
} */

/* form {
  position: relative;
  background-color: #53B1B1; 
}  */

form h2 {
  /* color: #11222C; */
}

:focus-within #login-email, :focus-within #login-pw, :focus-within #login-username {
   /* color: #11222C;  */
}

#btn {
  /* background-color: #1C5858; */
  /* color: #DADCE1; */
  justify-content: center;
}

.form-input {
  justify-content: center;
}

#signup {
  /* color: #11222C; */
  align-items: center;
  text-align: center;
  position: relative;
} 

#login {
  /* color: #11222C; */
  align-items: center;
  text-align: center;
  position: relative;
}  

/* end Sign Up and Log in Pages ****************************************************/






/*Header component*/


/* end Header component******************************************************************/




/*Bulletin Board Page */


/* end Bulletin Board Page******************************************************************/





/*Post List component*/


/* end Post List Component******************************************************************/





/*Post Form component*/


/* end Post Form component******************************************************************/



/*Response List component*/


/* end Response List component******************************************************************/



/*Response Form component*/


/* end Response List component******************************************************************/


/* Profile Page */








/* end Profile Page******************************************************************/



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

  #trumpet {
    height: 12vmin;
    pointer-events: none;
    animation-direction: reverse;
  }
  
  #bass{
    height: 34vmin;
  }
  
  #drums{
    animation-direction: reverse;
    height: 34vmin;
  }
  
  #keyboard{
    height: 30vmin; 
  }
  
  #guitar{
    height: 28vmin;
  }
  
  #trombone{
    animation-direction: reverse;
    height: 24vmin;
  }
  
  #title-div {
    text-align: center;
  }
  
  #app-title {
    font-size: 4rem;
  }

  #app-subtitle {
    font-size: 1.8rem;
  }
 
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
 

  #trumpet {
    height: 10vmin;
    pointer-events: none;
    animation-direction: reverse;
  }
  
  #bass{
    height: 32vmin;
  }
  
  #drums{
    animation-direction: reverse;
    height: 30vmin;
  }
  
  #keyboard{
    height: 28vmin; 
  }
  
  #guitar{
    height: 24vmin;
  }
  
  #trombone{
    animation-direction: reverse;
    height: 22vmin;
  }
  
  #title-div {
    text-align: center;
  }
  
  #app-title {
    font-size: 3rem;
  }

  #app-subtitle {
    font-size: 1.5rem;
  }

}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 605PX) {
  #trumpet {
    height: 0vmin;
    pointer-events: none;
    animation-direction: reverse;
  }
  
  #bass{
    height: 0vmin;
  }
  
  #drums{
    animation-direction: reverse;
    height: 42vmin;
  }
  
  #keyboard{
    height: 0vmin; 
  }
  
  #guitar{
    height: 38vmin;
  }
  
  #trombone{
    animation-direction: reverse;
    height: 0vmin;
  }
  
  #title-div {
    text-align: center;
  }
  
  #app-title {
    font-size: 2rem;
  }

  #app-subtitle {
    font-size: .8rem;
  }
}




