/* whole app css */
.font-link {
  font-family: 'Permanent Marker';
}

body {
  
  font-family: 'Permanent Marker' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html, #root {
  min-height: 100%; 
  background-color: #e1e2e3;
}  

main {
   position: relative;  
   display: flex;      
   margin: 2rem;

}  

#no-exist-div {
  text-align: center;
}

/* Landing Page */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#trumpet {
  height: 14vmin;
  pointer-events: none;
  animation-direction: reverse;
}

#bass{
  height: 36vmin;
}

#drums{
  animation-direction: reverse;
  height: 34vmin;
}

#keyboard{
  height: 28vmin; 
}

#guitar{
  height: 28vmin;
}

#trombone{
  animation-direction: reverse;
  height: 28vmin;
}

#title-div {
  text-align: center;
}

#app-title {
  font-size: 3.5rem;
  margin-bottom: 0;
}

#app-subtitle {
  font-size: 1.5rem;
}

#top-instrument-row {
  margin-top: 1rem;
}

#bottom-instrument-row {
  margin-top: 2.2rem;
}

/*landing page end***********************/


/*Sign Up and Login Pages****************************************/
/* Forms */
form {
  align-content: center;
  position: relative;
  display: flex; 
  flex-wrap: wrap;  
}  


#btn {
  justify-content: center;
}

.form-input {
  justify-content: center;
}

#signup {
  align-items: center;
  text-align: center;
  position: relative;
} 

#login {
  align-items: center;
  text-align: center;
  position: relative;
}  

#log-in-error{
  text-align: center;
}
/* end Sign Up and Log in Pages ****************************************************/

/*Header component*/
header {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

#header-title-link {
  text-decoration: none;
  color: black;
}
#header-title-text {
  font-size: 4rem;
}

#header-icon {
  height: 4vmin;
}
/* end Header component******************************************************************/


/*HeaderTitleOnlycomponent*/
#header-title-only-title {
  text-decoration: none;
  color: black;
  
}

/* end HeaderTitleOnly component******************************************************************/


/*Bulletin Board Page */
#end-of-board-tag {
  text-align: center;
}

/* end Bulletin Board Page******************************************************************/

/* Single Post Page */
#single-post-box {
  border: solid;
}

#single-post-card-body {
  border-top: solid;
}

/*end SIngle Post Page*/

/*Post List component*/
#post-card{
  border: solid;
  
}
#post-card-body{
   border-top: solid; 
}

/* end Post List Component******************************************************************/

/*Post Form component*/
#post-form-text-area{
  width: 100%;
  height: 5rem;
  border: solid;
}

#post-form-char-count{
  margin-bottom: 0;
}

#post-form-submit-btn{
  margin-top: 0;
  margin-bottom: 1rem;
}
/* end Post Form component******************************************************************/

/*Response List component*/
#response-list-card{
  border: solid;
}

#response-list-card-body {
  border-top: solid;
}
/* end Response List component******************************************************************/

/*Response Form component*/
#response-text-area{
  width: 100%;
  border: solid;
}
/* end Response Form component******************************************************************/


/* Profile Page */
#devil-horn-error-img {
  height: 28vmin;
  margin-top: 6rem;
}

#need-account-div {
  text-align: center;
}

#btn-stack-need-account {
  margin-top: 2rem;
}

#user-data-card {
  border:solid;
}

#user-project-card {
  border: solid;
}
#profile-post-list-box {
  border: solid;
}

/* end Profile Page******************************************************************/

/*Footer component*/

footer {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#footer-guitar {
  height: 8vmin;
}

#footer-drums {
  height: 8vmin;
}

#footer-tag {
  font-size: 1rem;
}

#copy-write{
  font-size: small;
}
 /* end Footer component*/

 
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

  #header-title-text {
    font-size: 3rem;
  }



  #trumpet {
    height: 10vmin;
    pointer-events: none;
    animation-direction: reverse;
  }
  
  #bass{
    height: 32vmin;
  }
  
  #drums{
    animation-direction: reverse;
    height: 30vmin;
  }
  
  #keyboard{
    height: 24vmin; 
  }
  
  #guitar{
    height: 24vmin;
  }
  
  #trombone{
    animation-direction: reverse;
    height: 20vmin;
  }
  
  #title-div {
    text-align: center;
  }
  
  #app-title {
    font-size: 4rem;
  }

  #app-subtitle {
    font-size: 1.8rem;
  }

  #footer-guitar {
    height: 6vmin;
  }
  
  
  #footer-tag {
    font-size: .8rem;
  }

  #copy-write{
    font-size: small;
  }

  #profile-post-list-box {
    border: 0em;
  }
 
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

  #header-title-text {
    font-size: 2.8rem;
  }
 
  #trumpet {
    height: 8vmin;
    animation-direction: reverse;
  }
  
  #bass{
    height: 26vmin;
  }
  
  #drums{
    animation-direction: reverse;
    height: 28vmin;
  }
  
  #keyboard{
    height: 20vmin; 
  }
  
  #guitar{
    height: 20vmin;
  }
  
  #trombone{
    animation-direction: reverse;
    height: 18vmin;
  }
  
  #title-div {
    text-align: center;
  }
  
  #app-title {
    font-size: 3rem;
  }

  #app-subtitle {
    font-size: 1.5rem;
  }

  #footer-guitar {
    height: 4vmin;
  }
  
  #footer-tag {
    font-size: .8rem;
  }

  #copy-write{
    font-size: small;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 605PX) {
  #trumpet {
    height: 0vmin;
    pointer-events: none;
    animation-direction: reverse;
  }
  
  #bass{
    height: 0vmin;
  }
  
  #drums{
    animation-direction: reverse;
    height: 42vmin;
  }
  
  #keyboard{
    height: 0vmin; 
  }
  
  #guitar{
    height: 38vmin;
  }
  
  #trombone{
    animation-direction: reverse;
    height: 0vmin;
  }
  
  #title-div {
    text-align: center;
  }
  
  #app-title {
    font-size: 2rem;
  }

  #app-subtitle {
    font-size: .8rem;
  }

  #footer-guitar {
    height: 5vmin;
  }
  
  #footer-drums {
    height: 6vmin;
  }
  
  #footer-tag {
    font-size: .6rem;
  }

  #copy-write{
    font-size: x-small;
  }
}


