body{
    margin-top: 20px;
    background-color: lightgray;
}

.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    background-color: #333;
    color: white;
    height: 100%;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
}

.content{
    background-color: whitesmoke;
}